doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.header
      .container.mx-auto Header
    block content
    footer.footer
      .container.mx-auto Footer
